# Copyright (c) 2026 Filip Marić. See LICENCE.
[Unit]
Description=Gunicorn za MatF App backend review instance
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/matf-app-review
Environment="PATH=/var/www/matf-app-review/.venv/bin"
EnvironmentFile=/var/www/matf-app-review/matf.env
ExecStart=/var/www/matf-app-review/.venv/bin/gunicorn -b 127.0.0.1:5000 wsgi:application
Restart=always

[Install]
WantedBy=multi-user.target
